/* body */
body {
    background: rgb(2,121,250);
    background: radial-gradient(circle, rgba(2,121,250,1) 6%, rgba(8,121,250,0.49) 27%, rgba(8,121,250,1) 97%);    
    padding: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* container */
.container {
    width: 1000px;
    margin: auto;
    padding: 15px;
    height: 1000px;
}

/* headers */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Slab', serif;
    text-shadow:2px 2px rgb(255, 228, 196);
    background-color: rgb(210, 105, 30);
    box-shadow: 4px 8px 10px rgb(12, 12, 12);
    margin-bottom: 10px;
    border-radius: 10px;
    color: rgb(12, 12, 12);
}

p {
    font-family: 'Roboto', sans-serif;
    line-height: -1.5;
    letter-spacing: 2px;
}

/* navigation bar */
nav {
    background-color: rgb(255, 228, 196);
    margin-bottom: 10px;
    box-shadow: 4px 8px 10px rgb(12, 12, 12);
    padding: 15px;
    border-radius: 10px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

ul {
    list-style-type: none;
    float: right;
}

ul li {
    background: rgb(8,121,250);
    background: linear-gradient(0deg, rgba(8,121,250,0.7) 58%, rgba(8,121,250,0.46) 89%);    
    box-shadow: 4px 8px 10px rgb(12, 12, 12);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 20px;
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: rgb(12, 12, 12);
}

ul li:hover {
    background-color: rgb(210, 105, 30);
}

ul li a:hover {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

/* Hero */
.hero {
    background-color: transparent;
    background: transparent;
    height: 300px;
    width: 1000px;
    background-position: bottom right;
    margin-bottom: 10px;
}

.text-back-hero {
    background-color: rgb(255, 255, 255, 0.5);
    padding: 12px 50px;
    text-align: center;
    display: inline-block;
    position: relative;
    top: -270px;
    left: 25px;
    border-radius: 10px;
    text-shadow: 2px 2px rgb(255, 228, 196);
}

/* Main Content */
.column {
    float: left;
    width: 478px;
    height: 400px;
    padding: 10px;
}

.column img {
    width: 45%;
    float: left;
    padding-right: 10px;
}

.col-one {
    padding-top: -25px;
    background: transparent url("") no-repeat center;
    color: rgb(255, 255, 255);
}

.col-one:hover {
    background: transparent url("") no-repeat center;
}

.col-two {
    background: rgb(255, 228, 196) url("");
    padding-top: -25px;
    color: rgb(12, 12, 12);

}

.col-two:hover {
    background: transparent url("/img/cute0.jpg") no-repeat center;
    color: rgb(12, 12, 12);
}

.col-three {
    background: rgb(255, 228, 196) url("");
    padding-top: -25px;

}

.col-three:hover {
    background: transparent url("/img/cute7.jpg") no-repeat center;
    color: rgb(12, 12, 12);
}

.col-four {
    background: transparent url("") no-repeat center;
    padding-top: -25px;
    color: rgb(255, 255, 255);
}

.col-four:hover {
    background: transparent url("") no-repeat center;
}

.col-five {
    background: rgb(255, 228, 196) url("") no-repeat center;
    padding-top: -25px;
}

.col-five:hover {
    background: transparent url("/img/cute5.jpg") no-repeat center;
    color: rgb(12, 12, 12);
}

.col-six {
    background: transparent url("") no-repeat center;
    padding-top: -25px;
    color: rgb(255, 255, 255);
}

.col-six:hover {
    background: transparent url("") no-repeat center;

}

img {
    border-radius: 25px;
    box-shadow: 4px 8px 10px rgb(12, 12, 12);
}

/* Footer */
footer {
    clear: both;
    padding: 5px;
    text-align: center;
    background-color: rgb(210, 105, 30);
    box-shadow: 4px 8px 10px rgb(12, 12, 12);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    margin: auto;
    padding: auto;
}

/* icons */
.fa-heart {
    color: rgb(255, 255, 255);
}

.fa-facebook {
    color: rgb(255, 255, 255);
}

.fa-instagram {
    color: rgb(255, 255, 255);
}

.fa-snapchat {
    color: rgb(255, 255, 255);
}

.fa-twitter {
    color: rgb(255, 255, 255);
}