body {
    background-color: rgb(8, 121, 250);
    margin: auto;
    padding: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Slab', serif;
    text-shadow: 1px 1px rgb(12, 12, 12);
}

p {
    font-family: 'Roboto', sans-serif;
    line-height: -1.5;
    letter-spacing: 2px;
}

.container {
    width: 1000px;
    margin: auto;
    padding: 15px;
    height: 1000px;
}

/* Hero */
.hero {
    border: 1px solid rgb(12, 12, 12);
    background-color: transparent;
    background: transparent;
    height: 300px;
    width: 1000px;
    background-position: bottom right;
}

.text-back-hero {
    background-color: rgb(255, 255, 255, 0.5);
    padding: 12px 50px;
    text-align: center;
    display: inline-block;
    position: relative;
    top: -250px;
    left: 25px;
}

/* Main Content */
.column {
    float: left;
    width: 478px;
    height: 400px;
    padding: 10px;
    border: 1px solid rgb(12, 12, 12);
}

.column img {
    width: 45%;
    float: left;
    padding-right: 10px;
}

.col-one {
    background: rgb(210, 105, 30);
    background: linear-gradient(90deg, rgba(210,105,30,0) 0%, rgba(255,228,196,0.46262254901960786) 3%);
}

.col-two {
    background: rgb(210, 105, 30);
    background: linear-gradient(90deg, rgba(210,105,30,0) 0%, rgba(255,228,196,0.46262254901960786) 3%);
}

.text-back {
    background-color: rgb(255, 255, 255, 0.3);
    padding: 2px 10px;
}

h1 {
    background-color: rgb(210, 105, 30);
    border: 1px solid rgb(12, 12, 12);
    margin-bottom: 10px;
}

nav {
    background-color: rgb(255, 228, 196);
    border: 1px solid rgb(12, 12, 12);
    margin-bottom: 10px;
    padding: 15px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

ul {
    list-style-type: none;
    float: right;
}

ul li {
    background-color: rgb(210, 105, 30);
    border: 2px rgb(12, 12, 12);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 50%;
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: rgb(12, 12, 12);
}

ul li:hover {
    background-color: rgb(8, 121, 250);
}

ul li a:hover {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

section {
    background-color: transparent;
    margin-bottom: 10px;
}

/* Footer */
footer {
    clear: both;
    padding: px;
    border: 1px solid rgb(12, 12, 12);
    text-align: center;
    background-color: rgb(210, 105, 30);
    color: rgb(255, 255, 255);
    margin: auto;
    padding: auto;
}

/* icons */
.fa-dog {
    color: white;
}