#banner-container,* {
margin:0;padding:0;border:0;
-webkit-box-sizing:border-box;box-sizing:border-box;
}

#banner,#banner-container {
width:320px;
height:50px;
overflow:hidden;
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
position:relative;
font-family:Helvetica,sans-serif;
letter-spacing:1px;
font-size:12px;
background-color:#4a154b;
}
#banner {border:1px solid black;}
#banner:hover {
cursor:pointer;
}

#banner img, #banner div, #banner svg, #banner video {position: absolute;}
.fadein {opacity:0}
.width {width:300px}
.left {margin-left:-10px}
.top {margin-top:20px}
.top2 {margin-top:10px}
.scale {-webkit-transform:scale(0);transform:scale(0);}
.scale2 {-webkit-transform:scale(.92);transform:scale(.92);}


#logo {width:36px;height:40px;left:50%;top:-20px;transform:translate(-50%,0%);}
#logo img {width:100%;top:0;left:0;-webkit-transform-origin:50% 50%;transform-origin:50% 50%;
-webkit-transform:scale(.88) rotate(-45deg) translate(-20px, 20px);transform:scale(.88) rotate(-45deg) translate(-20px, 20px);}
#logo3b {width:36px; height: 40px; left: 9px; top: 6px;-webkit-transform:scale(.5);transform:scale(.5);}
#logo3b img {width:100%}

#purple,#purple2,#blue2,#green2 {width:400px;height:100%;background-color:#4a154b;border-radius:0 25px 25px 0;left:-400px}
#purple {left:-100px;border-radius:25px 0 0 25px}
#green {left:-100px;background-color:#2eb67c;border-radius:25px 0 0 25px}
#blue2 {left:-100px;background-color:#4888b3;border-radius:25px 0 0 25px}

#white {width:162px;height:27px;right:96px;top:0px;background-color:#fff;}
#blue {width:0px;height:19px;left:102px;top:6px;background-color:#b9d7fa;}

#gif {width:auto;height:50px;left:50%;transform:translate(-50%,0%)}
#screen,#screen2,#screen3,#screen4 {    height: 70px;
    width: auto;
    left: 50%;
    transform: translate(-50%,-9px);}
    
#cta {width:100px; left: 165px; top: 13px;}
